* {
    box-sizing:border-box;  
    //border:solid 1px;  
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html, body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #191919;
}

h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #191919;
}

h3 { 
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #191919;
}

h6 { //orange rubrik
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #F94D1C;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #5E5E5E;
}


.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    font-size: 16px;
    font-weight: 600;
    height: 56px;
    padding-right: 35px; 
    padding-left: 35px;
    display: flex;
    align-items: center;
    border-radius: 40px;

    i {
        margin-left: 12px; 
    }

    &:hover {
        background-color: #9b9b9b;
        border-color: #9b9b9b;
        color: #191919;
        font-weight: 500;
        } 
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    font-size: 16px;
    font-weight: 600;
    height: 56px;
    padding-right: 35px; 
    padding-left: 35px;
    display: flex;
    align-items: center;
    border-radius: 40px;

    i {
        margin-left: 12px; 
    }

    &:hover {
        background-color: #9b9b9b;
        border-color: #9b9b9b;
        color: #191919;
        font-weight: 500;
        } 
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    height: 56px;
    padding-right: 35px; 
    padding-left: 35px;
    border-radius: 40px;
    display: flex;
    align-items: center;

    i {
        margin-left: 12px; 
    }

    &:hover {
        background-color: #9b9b9b;
        border-color: #9b9b9b;
        color: #191919;
        font-weight: 500;
        } 
}

header {
    background-color: #F0EFE9;
    padding: 30px;
    align-items: center;
  
    .container {

        display: flex;
        justify-content: space-between;        
        
        @media (min-width: 768px) {
        display:grid;
        grid-template-columns: auto 1fr;
        }

        .logo {
            margin-right: 70px;
        }

        .content-top {
            display: none;
            padding-bottom: 12px;
            border-bottom: 1px solid #DAD9D3;
        
            @media (min-width: 768px) {
                display: flex;
                justify-content: flex-end;
            } 

            @media (min-width: 1200px) {
                justify-content: space-between;
            } 

            .contacts {
                font-family: 'Inter', sans-serif;
                font-weight: 300;
                font-size: 14px;
                align-items: center;
                gap: 30px;
                display: none;

                @media (min-width: 1200px) {
                    display: flex;
                }
            
                .contact-box-last {
                    border-left: 1px solid #DAD9D3;
                    padding-left: 16px;
                    padding-right: 27px;
                }

                i {
                    margin-right: 7px;
                    font-size: 1.2em;
                }
            }

            .socialmedia {
                
                a {
                    color: #191919;
                    margin-left: 12px;

                    &:hover {
                        color: #9b9b9b;
                        }
                }
            }
        }

        .content-bottom {   
        display: none;

            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                align-items: end;
            }

            .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;

                a {
                    color: #191919;
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 400;
                    margin-right: 28px;

                    &:hover {
                        text-decoration: underline;
                        }
                }        
            }

            .login {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: -8px;
            
                a {
                    text-decoration: none;
                }
            }
        }  
        
        .bar {
            justify-content: flex-end;
            border: none;
            font-size: 26px;
            background-color: transparent;
            display:flex;

            a {
                color: #191919;
            }

            @media (min-width: 768px) {
                display: none;
            }
        }    
    }
}

main {

    .showcase {
        background-color: #F0EFE9;
        position: relative;
        z-index: 0;

        .background-waves {
            display: none;

            @media (min-width: 992px) {
                display: flex;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
            }
        }

        .container {
            display: flex;
            text-align: left;
            align-items: center;

            .content {
                display: block;
                padding-bottom: 100px;

                h1 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 40px;

                    @media (min-width:768px) {
                        font-weight: 700;
                        font-size: 80px;
                    }

                    @media (min-width:1400px) {
                        font-weight: 700;
                        font-size: 96px;
                    }
                }

                p {
                    font-size: 20px;
                    font-weight: 400;
                    color: #595957;
                    padding-bottom: 46px;
                    padding-top: 10px;
                }

                a {
                    text-decoration: none;
                }

                .btn-yellow {
                    margin-right: 0px;
                    text-align: center;

                    @media (min-width: 426px) {
                        margin-right: 12px;
                        text-align: left;
                    }
                }

                .btn-transparent {
                    text-align: center;

                    @media (min-width: 426px) {
                        text-align: left;
                    }
                }

                .buttons {
                    display: flex;
                    flex-direction: column;
                    

                    @media (min-width: 426px) {
                        display: flex;
                        flex-direction: row;
                    } 
                }
            }

            img {
                display: none;

                @media (min-width:1200px) {
                    
                    display: flex;
                    margin-right:-53px;
                }
            }
        }
    }

    .customers {
        margin-top: 98px;
        margin-bottom: 110px;
        
        .container {
            display: flex;
            justify-content: space-between;
            padding: 0 15px;

            @media (min-width: 1400px) {
                padding-right: 48px;
                padding-left: 48px;
            }
            
            img {
                width: 60px;

                @media (min-width: 768px) {
                    width: 100px;
                }

                @media (min-width: 992px) {
                    width: auto;
                }
            }
        }
    }

    .project-and-case {
        margin-top: 124px;

        .container {
            padding: 0;

            .project-titles {
                display:block;
                text-align: center;
                justify-content: center;
                align-items: center;
                margin-bottom: 55px;

                @media (min-width: 768px) {
                    margin-bottom: 98px;
                }
            }

            .project-grid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 28px;
                margin-bottom: 80px;

                @media (min-width: 576px) {
                    grid-template-columns: 1fr 1fr;
                }
            }

            .project-box {

                .image-box {
                    display: flex;
                    justify-content: center;

                    @media (min-width: 576px) {
                        display: block;
                    }
                }

                img {
                    width: 90vw;

                    @media (min-width: 576px) {
                        width: 40vw;
                    }

                    @media (min-width: 1400px) {
                        width: auto; 
                    }
                }
                
                h3 {
                    margin-left: 40px;
                    margin-top: 35px;
                    padding-bottom: 17px;
                    border-bottom: 1px solid #E7E7E7;

                    @media (min-width: 576px) {
                        display: block;
                        margin-left: 0px;
                    }
                }
                
                a {
                    font-size: 14px;
                    font-weight: 500;    
                    text-decoration: none;
                    color: #191919;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    margin-top: 32px;
                }

                i {
                    margin-left: 7px;
                }
            }

            .project-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 90px;

                .btn-black {
                    text-decoration: none;
                }
            }
        }
    }
}
