* {
    box-sizing:border-box;  
    //border:solid 1px;  
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html, body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #191919;
}

h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #191919;
}

h3 { 
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #191919;
}

h6 { //orange rubrik
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #F94D1C;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #5E5E5E;
}


.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    font-size: 16px;
    font-weight: 600;
    height: 56px;
    padding-right: 35px; 
    padding-left: 35px;
    display: flex;
    align-items: center;
    border-radius: 40px;

    i {
        margin-left: 12px; 
    }

    &:hover {
        font-weight: 500;
        background-color: #191919;
        border: 1px solid #191919;
        color: white;
        } 
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    font-size: 16px;
    font-weight: 600;
    height: 56px;
    padding-right: 35px; 
    padding-left: 35px;
    display: flex;
    align-items: center;
    border-radius: 40px;

    i {
        margin-left: 12px; 
    }

    &:hover {
        background-color: #9b9b9b;
        border-color: #9b9b9b;
        color: #191919;
        font-weight: 500;
        } 
}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    height: 56px;
    padding-right: 35px; 
    padding-left: 35px;
    border-radius: 40px;
    display: flex;
    align-items: center;

    i {
        margin-left: 12px; 
    }

    &:hover {
        background-color: #9b9b9b;
        border-color: #9b9b9b;
        color: #191919;
        font-weight: 500;
        } 
}

header {
    background-color: #F0EFE9;
    padding: 30px;
    align-items: center;
  
    .container {

        display: flex;
        justify-content: space-between;        
        
        @media (min-width: 768px) {
        display:grid;
        grid-template-columns: auto 1fr;
        }

        .logo {
            margin-right: 70px;
        }

        .content-top {
            display: none;
            padding-bottom: 12px;
            border-bottom: 1px solid #DAD9D3;
        
            @media (min-width: 768px) {
                display: flex;
                justify-content: flex-end;
            } 

            @media (min-width: 1200px) {
                justify-content: space-between;
            } 

            .contacts {
                font-family: 'Inter', sans-serif;
                font-weight: 300;
                font-size: 14px;
                align-items: center;
                gap: 30px;
                display: none;

                @media (min-width: 1200px) {
                    display: flex;
                }
            
                .contact-box-last {
                    border-left: 1px solid #DAD9D3;
                    padding-left: 16px;
                    padding-right: 27px;
                }

                i {
                    margin-right: 7px;
                    font-size: 1.2em;
                }
            }

            .socialmedia {
                
                a {
                    color: #191919;
                    margin-left: 12px;

                    &:hover {
                        color: #9b9b9b;
                        }
                }
            }
        }

        .content-bottom {   
        display: none;

            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                align-items: end;
            }

            .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;

                a {
                    color: #191919;
                    text-decoration: none;
                    font-size: 15px;
                    font-weight: 400;
                    margin-right: 28px;

                    &:hover {
                        text-decoration: underline;
                        }
                }        
            }

            .login {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: -8px;
            
                a {
                    text-decoration: none;
                }
            }
        }  
        
        .bar {
            justify-content: flex-end;
            border: none;
            font-size: 26px;
            background-color: transparent;
            display:flex;

            a {
                color: #191919;
            }

            @media (min-width: 768px) {
                display: none;
            }
        }    
    }
}

main {

    .showcase {
        background-color: #F0EFE9;
        position: relative;
        z-index: 0;

        .background-waves {
            display: none;

            @media (min-width: 992px) {
                display: flex;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
            }
        }

        .container {
            display: flex;
            text-align: left;
            align-items: center;

            .content {
                display: block;
                padding-bottom: 100px;

                h1 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 40px;

                    @media (min-width:768px) {
                        font-weight: 700;
                        font-size: 80px;
                    }

                    @media (min-width:1400px) {
                        font-weight: 700;
                        font-size: 96px;
                    }
                }

                p {
                    font-size: 20px;
                    font-weight: 400;
                    color: #595957;
                    padding-bottom: 46px;
                    padding-top: 10px;
                }

                a {
                    text-decoration: none;
                }

                .btn-yellow {
                    margin-right: 0px;
                    text-align: center;

                    @media (min-width: 426px) {
                        margin-right: 12px;
                        text-align: left;
                    }
                }

                .btn-transparent {
                    text-align: center;

                    @media (min-width: 426px) {
                        text-align: left;
                    }
                }

                .buttons {
                    display: flex;
                    flex-direction: column;
                    

                    @media (min-width: 426px) {
                        display: flex;
                        flex-direction: row;
                    } 
                }
            }

            img {
                display: none;

                @media (min-width:1200px) {
                    
                    display: flex;
                    margin-right:-53px;
                }
            }
        }
    }

    .customers {
        margin-top: 98px;
        margin-bottom: 110px;
        
        .container {
            display: flex;
            justify-content: space-between;
            padding: 0 15px;

            @media (min-width: 1400px) {
                padding-right: 48px;
                padding-left: 48px;
            }
            
            img {
                width: 60px;

                @media (min-width: 768px) {
                    width: 100px;
                }

                @media (min-width: 992px) {
                    width: auto;
                }
            }
        }
    }

    .features {
        margin-top: 185px;

        .container {
            display: grid;
            grid-template-columns: 1fr;
            position: relative;
            column-gap: 20px;
            row-gap: 60px;    
            

            @media (min-width: 768px) {
                grid-template-columns: 30% 1fr;           
            }

            @media (min-width: 992px) {
                grid-template-columns: 40% 1fr;           
            }

            @media (min-width: 1200px) {
                grid-template-columns: 1fr 2fr;
            }

            .features-border {
                position: absolute;
                border: 1px solid #d1d1d1;
                display: none;
                z-index:-1;

                @media (min-width: 1530px) {
                    display: block;
                    top: -84px;
                    bottom: -153px;
                    left: -95px;
                    right: -100px;          
                }
            }

            .section-left {

                h6 {
                    margin-bottom: 20px;
                }

                h2 {
                    margin-bottom: 46px;
                    font-size: 32px;

                    @media (min-width: 768px) {
                        font-size: 37px;                        
                    }

                    @media (min-width: 992px) {
                        font-size: 45px;                        
                    }
                }

                .features-left-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media (min-width: 768px) {
                        display: block;
                    }

                    a {
                        text-align: center;
                        text-decoration: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            .section-right {
                display: flex;
                flex-direction: column;
                align-items: center;
                //grid-template-columns: 1fr;
                margin-left: 0;
                gap: 30px;

                @media (min-width: 450px) {
                    display: grid;   
                    grid-template-columns: 1fr 1fr; 
                        
                }

                @media (min-width: 768px) {
                    margin-left: 120px;        
                }

                .features-box {
                    width: 200px;

                    @media (min-width: 1200px) {
                        width: 300px;
                    }

                    h3 {
                        margin-top: 22px;
                        margin-bottom: 22px;
                    }
                }
            }
        }
    }

    .our-services {
        margin-top: 250px;
        background-color: #F0EFE9;
        padding-top: 120px;
        padding-bottom: 120px;

        .container {
            
            @media (min-width: 576px) {
            padding: 0;
            }
            
            .services-titles {

                h2 {
                    margin-top: 20px;
                    margin-bottom: 55px;
                }
            }

            .services-bottom {
                display: grid;
                grid-template-columns: 1fr;
                gap: 30px;

                @media (min-width:576px) {
                    grid-template-columns: 1fr 1fr;
                }

                @media (min-width:992px) {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }

                .services-box {
                    background-color: white;
                    padding: 47px 30px;

                    .box-line {
                        margin-bottom: 42px;
                        border-bottom: 2px solid #191919;
                        width: 39px;
                    }

                    p {
                        line-height: 28px;
                    }

                    .box-arrow {
                        display: flex;
                        justify-content: end;
                        align-items: center;

                        a {
                                background-color: #191919;
                                border: 1px solid #191919;
                                font-size: 18px;
                                height: 56px;
                                width: 56px;
                                border-radius: 40px;
                                text-decoration: none;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                &:hover {
                                    background-color: #A4A4A4;
                                    border: 1px solid #A4A4A4;
                                }
                        }
                                
                        i {
                            color: white;
                            font-weight: 300;
                        }
                    }
                }

                .services-box-yellow {
                    background-color: #F9D783;

                    
                    .box-arrow {
                        a {
                            background-color: #FFFFFF;
                            border: 1px solid #ffffff;
                        }

                        i {
                            color: #191919;
                            font-weight: 400;
                        }
                    }
                }
            }

            .services-btn {

                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 48px;

                    a {
                        text-decoration: none;
                    }
                
            }
        }
    }

    .choose-us-section {
        padding: 20px;
        margin-top: 20px;
        position: relative;
        z-index: 0;

        @media (min-width: 576px) {
            padding: 65px;
        }

        .container {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-areas:    "titles"
                                    "img"
                                    "boxes";

            @media (min-width: 992px) {
                grid-template-columns: 1fr auto;
                grid-template-areas:    "titles img"
                                        "boxes img";
            }

            .choose-us-titles {
                margin-bottom: 44px;
                grid-area: titles;

                h6 {
                    margin-bottom: 34px;
                }
            }

            .choose-us-boxes {
                grid-area: boxes;

                .choose-us-box {
                    margin-bottom: 39px;
                    display: grid;
                    grid-template-columns: min-content;
                    grid-template-areas:    "img h3"
                                            "img p";

                    img {
                        grid-area: img;
                        margin-right: 22px;
                    }

                    h3 {
                        grid-area: h3;
                    }

                    p {
                        grid-area: p;
                    }
                }
            }

            .choose-us-img {
                grid-area: img;
                margin-top: 0;
                margin-bottom: 40px;

                img {
                    width: 300px;

                    @media (min-width: 576px) {
                        width: auto;
                        margin-top: 0;
                        width: 400px;
                    }

                    @media (min-width: 768px) {
                        width: auto;
                        width: 400px;
                    }

                    @media (min-width: 992px) {
                        margin-top: 120px;
                        width: 420px;
                    }

                    @media (min-width: 1220px) {
                        margin-top: 36px;
                        width: auto;
                    }
                }
            }
        }

        .choose-us-rectangle {
            background-color: #F0EFE9;
            height: 425px;
            position: absolute;
            z-index: -1;
            right: 0;
            top: 267px;
            display: none;

            @media (min-width: 992px) {
                left: calc(50% - 5px);
                display: block;
            }

            @media (min-width: 1200px) {
                left: calc(50% - 112px);
                display: block;
            }
        }
    }

    .project-and-case {
        margin-top: 200px; //124px enl crito

        .container {
            padding: 0;

            .project-titles {
                display:block;
                text-align: center;
                justify-content: center;
                align-items: center;
                margin-bottom: 55px;

                @media (min-width: 768px) {
                    margin-bottom: 98px;
                }

                h6 {
                    margin-bottom: 27px;
                }
            }

            .project-grid {
                display: grid;
                grid-template-columns: 1fr;
                gap: 28px;
                margin-bottom: 80px;

                @media (min-width: 576px) {
                    grid-template-columns: 1fr 1fr;
                }
            }

            .project-box {

                .image-box {
                    display: flex;
                    justify-content: center;

                    @media (min-width: 576px) {
                        display: block;
                    }
                }

                img {
                    width: 90vw;

                    @media (min-width: 576px) {
                        width: 40vw;
                    }

                    @media (min-width: 1400px) {
                        width: auto; 
                    }
                }
                
                h3 {
                    margin-left: 40px;
                    margin-top: 35px;
                    padding-bottom: 17px;
                    border-bottom: 1px solid #E7E7E7;

                    @media (min-width: 576px) {
                        display: block;
                        margin-left: 0px;
                    }
                }
                
                .box-btn {    
                    display: flex;
                    justify-content: end;
                    align-items: center;

                    a {
                        font-size: 14px;
                        font-weight: 500;    
                        text-decoration: none;
                        color: #191919;
                        margin-top: 32px;

                        &:hover {
                            font-weight: 700;
                        }
                    }

                    i {
                        margin-left: 7px;
                    }
                }
            }

            .project-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 90px;

                .btn-black {
                    text-decoration: none;
                }
            }
        }
    }
}
