@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: #191919;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #191919;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #191919;
}

h6 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #F94D1C;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #5E5E5E;
}

.btn-yellow {
  background-color: #F9D783;
  color: #191919;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  padding-right: 35px;
  padding-left: 35px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  transition: background-color 0.2s ease-in-out;
}
.btn-yellow i {
  margin-left: 12px;
}
.btn-yellow:hover {
  background-color: #191919;
  color: white;
  cursor: pointer;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  padding-right: 35px;
  padding-left: 35px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  transition: background-color 0.2s ease-in-out;
}
.btn-transparent i {
  margin-left: 12px;
}
.btn-transparent:hover {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
  color: #191919;
  cursor: pointer;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  padding-right: 35px;
  padding-left: 35px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}
.btn-black i {
  margin-left: 12px;
}
.btn-black:hover {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
  color: #191919;
}

header {
  background-color: #F0EFE9;
  padding: 30px;
  align-items: center;
}
header .container {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  header .container {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
header .container .logo {
  margin-right: 70px;
}
header .container .content-top {
  display: none;
  padding-bottom: 12px;
  border-bottom: 1px solid #DAD9D3;
}
@media (min-width: 768px) {
  header .container .content-top {
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  header .container .content-top {
    justify-content: space-between;
  }
}
header .container .content-top .contacts {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
  align-items: center;
  gap: 30px;
  display: none;
}
@media (min-width: 1200px) {
  header .container .content-top .contacts {
    display: flex;
  }
}
header .container .content-top .contacts .contact-box-last {
  border-left: 1px solid #DAD9D3;
  padding-left: 16px;
  padding-right: 27px;
}
header .container .content-top .contacts i {
  margin-right: 7px;
  font-size: 1.2em;
}
header .container .content-top .socialmedia a {
  color: #191919;
  margin-left: 12px;
}
header .container .content-top .socialmedia a:hover {
  color: #9b9b9b;
}
header .container .content-bottom {
  display: none;
}
@media (min-width: 768px) {
  header .container .content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}
header .container .content-bottom .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
header .container .content-bottom .menu a {
  color: #191919;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  margin-right: 28px;
}
header .container .content-bottom .menu a:hover {
  text-decoration: underline;
}
header .container .content-bottom .login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -8px;
}
header .container .content-bottom .login a {
  text-decoration: none;
}
header .container .bar {
  justify-content: flex-end;
  border: none;
  font-size: 26px;
  background-color: transparent;
  display: flex;
}
header .container .bar a {
  color: #191919;
}
@media (min-width: 768px) {
  header .container .bar {
    display: none;
  }
}

main .showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
main .showcase .background-waves {
  display: none;
}
@media (min-width: 992px) {
  main .showcase .background-waves {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
main .showcase .container {
  display: flex;
  text-align: left;
  align-items: center;
}
main .showcase .container .content {
  display: block;
  padding-bottom: 100px;
}
main .showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  main .showcase .container .content h1 {
    font-weight: 700;
    font-size: 80px;
  }
}
@media (min-width: 1400px) {
  main .showcase .container .content h1 {
    font-weight: 700;
    font-size: 96px;
  }
}
main .showcase .container .content p {
  font-size: 20px;
  font-weight: 400;
  color: #595957;
  padding-bottom: 46px;
  padding-top: 10px;
}
main .showcase .container .content a {
  text-decoration: none;
}
main .showcase .container .content .btn-yellow {
  margin-right: 0px;
  text-align: center;
}
@media (min-width: 426px) {
  main .showcase .container .content .btn-yellow {
    margin-right: 12px;
    text-align: left;
  }
}
main .showcase .container .content .btn-transparent {
  text-align: center;
}
@media (min-width: 426px) {
  main .showcase .container .content .btn-transparent {
    text-align: left;
  }
}
main .showcase .container .content .buttons {
  display: flex;
  flex-direction: column;
}
@media (min-width: 426px) {
  main .showcase .container .content .buttons {
    display: flex;
    flex-direction: row;
  }
}
main .showcase .container img {
  display: none;
}
@media (min-width: 1200px) {
  main .showcase .container img {
    display: flex;
    margin-right: -53px;
  }
}
main .customers {
  margin-top: 98px;
  margin-bottom: 110px;
}
main .customers .container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
@media (min-width: 1400px) {
  main .customers .container {
    padding-right: 48px;
    padding-left: 48px;
  }
}
main .customers .container img {
  width: 60px;
}
@media (min-width: 768px) {
  main .customers .container img {
    width: 100px;
  }
}
@media (min-width: 992px) {
  main .customers .container img {
    width: auto;
  }
}
main .features {
  margin-top: 185px;
}
main .features .container {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  column-gap: 20px;
  row-gap: 60px;
}
@media (min-width: 768px) {
  main .features .container {
    grid-template-columns: 30% 1fr;
  }
}
@media (min-width: 992px) {
  main .features .container {
    grid-template-columns: 40% 1fr;
  }
}
@media (min-width: 1200px) {
  main .features .container {
    grid-template-columns: 1fr 2fr;
  }
}
main .features .container .features-border {
  position: absolute;
  border: 1px solid #d1d1d1;
  display: none;
  z-index: -1;
}
@media (min-width: 1530px) {
  main .features .container .features-border {
    display: block;
    top: -84px;
    bottom: -153px;
    left: -95px;
    right: -100px;
  }
}
main .features .container .section-left h6 {
  margin-bottom: 20px;
}
main .features .container .section-left h2 {
  margin-bottom: 46px;
  font-size: 32px;
}
@media (min-width: 768px) {
  main .features .container .section-left h2 {
    font-size: 37px;
  }
}
@media (min-width: 992px) {
  main .features .container .section-left h2 {
    font-size: 45px;
  }
}
main .features .container .section-left .features-left-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  main .features .container .section-left .features-left-btn {
    display: block;
  }
}
main .features .container .section-left .features-left-btn a {
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .features .container .section-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  gap: 30px;
}
@media (min-width: 450px) {
  main .features .container .section-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  main .features .container .section-right {
    margin-left: 120px;
  }
}
main .features .container .section-right .features-box {
  width: 200px;
}
@media (min-width: 1200px) {
  main .features .container .section-right .features-box {
    width: 300px;
  }
}
main .features .container .section-right .features-box h3 {
  margin-top: 22px;
  margin-bottom: 22px;
}
main .about-company {
  margin-top: 100px;
}
@media (min-width: 992px) {
  main .about-company {
    margin-top: 250px;
  }
}
main .about-company .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "right" "left";
  gap: 20px;
}
@media (min-width: 992px) {
  main .about-company .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  main .about-company .container {
    gap: 160px;
  }
}
main .about-company .container .about-company-left {
  position: relative;
  z-index: 0;
  grid-area: left;
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  main .about-company .container .about-company-left {
    display: block;
  }
}
main .about-company .container .about-company-left img {
  margin-top: 30px;
  width: 350px;
}
@media (min-width: 1200px) {
  main .about-company .container .about-company-left img {
    width: auto;
  }
}
main .about-company .container .about-company-left .left-blue-rectangle {
  padding: 30px 20px;
  width: 250px;
  height: 122px;
  background-color: #BEEBFF;
  position: absolute;
  z-index: 1;
  bottom: 30px;
  left: 0;
  box-shadow: 0 10px 30px 10px rgba(136, 136, 136, 0.1294117647);
}
@media (min-width: 576px) {
  main .about-company .container .about-company-left .left-blue-rectangle {
    left: 50px;
  }
}
@media (min-width: 768px) {
  main .about-company .container .about-company-left .left-blue-rectangle {
    left: 140px;
  }
}
@media (min-width: 992px) {
  main .about-company .container .about-company-left .left-blue-rectangle {
    width: 310px;
    height: 151px;
    bottom: 80px;
    left: 120px;
  }
}
@media (min-width: 1200px) {
  main .about-company .container .about-company-left .left-blue-rectangle {
    width: 368px;
    height: 180px;
    bottom: 40px;
    left: -56px;
  }
}
main .about-company .container .about-company-left .left-blue-rectangle .blue-rectangle-titles {
  display: flex;
  justify-content: start;
  align-items: center;
}
main .about-company .container .about-company-left .left-blue-rectangle h3 {
  margin-right: 5px;
  font-size: 16px;
}
@media (min-width: 992px) {
  main .about-company .container .about-company-left .left-blue-rectangle h3 {
    margin-right: 5px;
  }
}
main .about-company .container .about-company-left .left-blue-rectangle h6 {
  font-size: 14px;
}
@media (min-width: 992px) {
  main .about-company .container .about-company-left .left-blue-rectangle h6 {
    font-size: 18px;
  }
}
main .about-company .container .about-company-left .left-blue-rectangle p {
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
}
@media (min-width: 992px) {
  main .about-company .container .about-company-left .left-blue-rectangle p {
    font-size: 16px;
  }
}
main .about-company .container .about-company-left .fidelidutt {
  position: absolute;
  z-index: 1;
  display: none;
}
@media (min-width: 992px) {
  main .about-company .container .about-company-left .fidelidutt {
    display: inline;
    top: 35px;
    width: 120px;
    left: -15px;
  }
}
@media (min-width: 1200px) {
  main .about-company .container .about-company-left .fidelidutt {
    width: auto;
    left: -35px;
  }
}
main .about-company .container .about-company-right {
  grid-area: right;
}
main .about-company .container .about-company-right .company-right-top {
  margin-bottom: 60px;
}
main .about-company .container .about-company-right .company-right-top h6 {
  margin-bottom: 30px;
}
main .about-company .container .about-company-right .company-right-top h2 {
  margin-bottom: 35px;
}
main .about-company .container .about-company-right .company-right-top p {
  line-height: 32px;
}
main .about-company .container .about-company-right .company-right-bottom {
  display: flex;
  justify-content: start;
  align-items: center;
}
main .about-company .container .about-company-right .company-right-bottom a {
  text-decoration: none;
}
main .about-company .container .about-company-right .company-right-bottom a span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #191919;
  transition: color 0.2s ease-in-out;
}
main .about-company .container .about-company-right .company-right-bottom a span:hover {
  font-weight: 700;
  color: #9b9b9b;
}
main .about-company .container .about-company-right .company-right-bottom .btn-black {
  margin-right: 20px;
}
@media (min-width: 576px) {
  main .about-company .container .about-company-right .company-right-bottom .btn-black {
    margin-right: 39px;
  }
}
main .about-company .container .about-company-right .company-right-bottom .video-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .about-company .container .about-company-right .company-right-bottom .video-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #191919;
  border-radius: 25px;
  height: 48px;
  width: 48px;
  margin-right: 17px;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}
main .about-company .container .about-company-right .company-right-bottom .video-btn i {
  color: #191919;
}
main .about-company .container .about-company-right .company-right-bottom .video-btn:hover {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
  cursor: pointer;
}
main .our-services {
  margin-top: 250px;
  background-color: #F0EFE9;
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (min-width: 576px) {
  main .our-services .container {
    padding: 0;
  }
}
main .our-services .container .services-titles h2 {
  margin-top: 20px;
  margin-bottom: 55px;
}
main .our-services .container .services-bottom {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 576px) {
  main .our-services .container .services-bottom {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  main .our-services .container .services-bottom {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
main .our-services .container .services-bottom .services-box {
  background-color: white;
  padding: 47px 30px;
}
main .our-services .container .services-bottom .services-box .box-line {
  margin-bottom: 42px;
  border-bottom: 2px solid #191919;
  width: 39px;
}
main .our-services .container .services-bottom .services-box p {
  line-height: 28px;
}
main .our-services .container .services-bottom .services-box .box-arrow {
  display: flex;
  justify-content: end;
  align-items: center;
}
main .our-services .container .services-bottom .services-box .box-arrow a {
  background-color: #191919;
  border: 1px solid #191919;
  font-size: 18px;
  height: 56px;
  width: 56px;
  border-radius: 40px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .our-services .container .services-bottom .services-box .box-arrow a:hover {
  background-color: #A4A4A4;
  border: 1px solid #A4A4A4;
}
main .our-services .container .services-bottom .services-box .box-arrow i {
  color: white;
  font-weight: 300;
}
main .our-services .container .services-bottom .services-box-yellow {
  background-color: #F9D783;
}
main .our-services .container .services-bottom .services-box-yellow .box-arrow a {
  background-color: #FFFFFF;
  border: 1px solid #ffffff;
}
main .our-services .container .services-bottom .services-box-yellow .box-arrow i {
  color: #191919;
  font-weight: 400;
}
main .our-services .container .services-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}
main .our-services .container .services-btn a {
  text-decoration: none;
}
main .choose-us-section {
  padding: 20px;
  margin-top: 20px;
  position: relative;
  z-index: 0;
}
@media (min-width: 576px) {
  main .choose-us-section {
    padding: 65px;
  }
}
main .choose-us-section .container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "titles" "img" "boxes";
}
@media (min-width: 992px) {
  main .choose-us-section .container {
    grid-template-columns: 1fr auto;
    grid-template-areas: "titles img" "boxes img";
  }
}
main .choose-us-section .container .choose-us-titles {
  margin-bottom: 44px;
  grid-area: titles;
}
main .choose-us-section .container .choose-us-titles h6 {
  margin-bottom: 34px;
}
main .choose-us-section .container .choose-us-boxes {
  grid-area: boxes;
}
main .choose-us-section .container .choose-us-boxes .choose-us-box {
  margin-bottom: 39px;
  display: grid;
  grid-template-columns: min-content;
  grid-template-areas: "img h3" "img p";
}
main .choose-us-section .container .choose-us-boxes .choose-us-box img {
  grid-area: img;
  margin-right: 22px;
}
main .choose-us-section .container .choose-us-boxes .choose-us-box h3 {
  grid-area: h3;
}
main .choose-us-section .container .choose-us-boxes .choose-us-box p {
  grid-area: p;
}
main .choose-us-section .container .choose-us-img {
  grid-area: img;
  margin-top: 0;
  margin-bottom: 40px;
}
main .choose-us-section .container .choose-us-img img {
  width: 300px;
}
@media (min-width: 576px) {
  main .choose-us-section .container .choose-us-img img {
    width: auto;
    margin-top: 0;
    width: 400px;
  }
}
@media (min-width: 768px) {
  main .choose-us-section .container .choose-us-img img {
    width: auto;
    width: 400px;
  }
}
@media (min-width: 992px) {
  main .choose-us-section .container .choose-us-img img {
    margin-top: 120px;
    width: 420px;
  }
}
@media (min-width: 1220px) {
  main .choose-us-section .container .choose-us-img img {
    margin-top: 36px;
    width: auto;
  }
}
main .choose-us-section .choose-us-rectangle {
  background-color: #F0EFE9;
  height: 425px;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 267px;
  display: none;
}
@media (min-width: 992px) {
  main .choose-us-section .choose-us-rectangle {
    left: calc(50% - 5px);
    display: block;
  }
}
@media (min-width: 1200px) {
  main .choose-us-section .choose-us-rectangle {
    left: calc(50% - 112px);
    display: block;
  }
}
main .project-and-case .container {
  padding: 0;
}
main .project-and-case .container .project-titles {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}
@media (min-width: 768px) {
  main .project-and-case .container .project-titles {
    margin-bottom: 98px;
  }
}
main .project-and-case .container .project-titles h6 {
  margin-bottom: 27px;
}
main .project-and-case .container .project-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px;
  margin-bottom: 60px;
}
@media (min-width: 576px) {
  main .project-and-case .container .project-grid {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;
  }
}
main .project-and-case .container .project-box .image-box {
  display: flex;
  justify-content: center;
}
@media (min-width: 576px) {
  main .project-and-case .container .project-box .image-box {
    display: block;
  }
}
main .project-and-case .container .project-box img {
  width: 90vw;
}
@media (min-width: 576px) {
  main .project-and-case .container .project-box img {
    width: 40vw;
  }
}
@media (min-width: 1400px) {
  main .project-and-case .container .project-box img {
    width: auto;
  }
}
main .project-and-case .container .project-box h3 {
  margin-left: 40px;
  margin-top: 35px;
  padding-bottom: 17px;
  border-bottom: 1px solid #E7E7E7;
}
@media (min-width: 576px) {
  main .project-and-case .container .project-box h3 {
    display: block;
    margin-left: 0px;
  }
}
main .project-and-case .container .project-box .box-btn {
  display: flex;
  justify-content: end;
  align-items: center;
}
main .project-and-case .container .project-box .box-btn a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
  margin-top: 32px;
}
main .project-and-case .container .project-box .box-btn a:hover {
  font-weight: 700;
}
main .project-and-case .container .project-box .box-btn i {
  margin-left: 7px;
}
main .project-and-case .container .project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}
main .project-and-case .container .project-btn .btn-black {
  text-decoration: none;
}
main .meet-team {
  padding-top: 50px;
  background: #EDCF86;
}
@media (min-width: 576px) {
  main .meet-team {
    padding-top: 125px;
  }
}
@media (min-width: 576px) {
  main .meet-team .container {
    padding: 0;
  }
}
main .meet-team .container .meet-team-top {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  main .meet-team .container .meet-team-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
main .meet-team .container .meet-team-top .meet-team-titles h6 {
  margin-bottom: 36px;
}
main .meet-team .container .meet-team-top .meet-team-titles h2 {
  margin-bottom: 30px;
}
@media (min-width: 576px) {
  main .meet-team .container .meet-team-top .meet-team-titles h2 {
    margin-bottom: 100px;
  }
}
main .meet-team .container .meet-team-top .meet-team-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .meet-team .container .meet-team-top .meet-team-btn .btn-yellow {
  text-decoration: none;
  border: 1px solid #191919;
}
main .meet-team .container .meet-team-bottom {
  margin-top: 40px;
}
@media (min-width: 576px) {
  main .meet-team .container .meet-team-bottom {
    margin-top: 0;
  }
}
main .meet-team .container .meet-team-bottom .meet-team-boxes {
  margin-bottom: 55px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}
@media (min-width: 576px) {
  main .meet-team .container .meet-team-bottom .meet-team-boxes {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 992px) {
  main .meet-team .container .meet-team-bottom .meet-team-boxes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }
}
main .meet-team .container .meet-team-bottom .meet-team-boxes .meet-team-box {
  justify-self: center;
}
main .meet-team .container .meet-team-bottom .meet-team-boxes .meet-team-box img {
  width: auto;
}
@media (min-width: 576px) {
  main .meet-team .container .meet-team-bottom .meet-team-boxes .meet-team-box img {
    width: 250px;
  }
}
@media (min-width: 768px) {
  main .meet-team .container .meet-team-bottom .meet-team-boxes .meet-team-box img {
    width: auto;
  }
}
@media (min-width: 992px) {
  main .meet-team .container .meet-team-bottom .meet-team-boxes .meet-team-box img {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  main .meet-team .container .meet-team-bottom .meet-team-boxes .meet-team-box img {
    width: 250px;
  }
}
@media (min-width: 1400px) {
  main .meet-team .container .meet-team-bottom .meet-team-boxes .meet-team-box img {
    width: auto;
  }
}
main .meet-team .container .meet-team-bottom .meet-team-boxes .meet-team-box h3 {
  margin-top: 28px;
  margin-bottom: 8px;
}
main .meet-team .container .meet-team-bottom .meet-team-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .testimonial {
  padding-bottom: 200px;
  padding-top: 72px;
  background: #EDCF86;
}
main .testimonial .container {
  background-color: white;
  padding: 110px 40px;
  position: relative;
  z-index: 0;
}
main .testimonial .container .testimonial-white-box {
  background-color: white;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -100px;
  right: -100px;
  display: none;
}
@media (min-width: 1550px) {
  main .testimonial .container .testimonial-white-box {
    display: block;
  }
}
main .testimonial .container .testimonial-titles {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}
main .testimonial .container .testimonial-boxes {
  display: grid;
  column-gap: 80px;
  row-gap: 110px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
main .testimonial .container .testimonial-boxes .testimonial-box {
  width: 350px;
}
main .testimonial .container .testimonial-boxes .testimonial-box p {
  line-height: 34px;
  font-style: italic;
  font-weight: 600;
  margin-top: 19px;
  margin-bottom: 30px;
}
main .testimonial .container .testimonial-boxes .testimonial-box .box-person {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "img info";
  column-gap: 13px;
}
main .testimonial .container .testimonial-boxes .testimonial-box .box-person img {
  grid-area: img;
}
main .testimonial .container .testimonial-boxes .testimonial-box .box-person .person-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .testimonial .container .testimonial-boxes .testimonial-box .box-person .person-info h6 {
  font-size: 16px;
  font-weight: 400;
}
main .testimonial .container .all-reviews-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 98px;
}
main .testimonial .container .all-reviews-btn a {
  text-decoration: none;
}