@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: #191919;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
  color: #191919;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #191919;
}

h6 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #F94D1C;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #5E5E5E;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  padding-right: 35px;
  padding-left: 35px;
  display: flex;
  align-items: center;
  border-radius: 40px;
}
.btn-yellow i {
  margin-left: 12px;
}
.btn-yellow:hover {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
  color: #191919;
  font-weight: 500;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  padding-right: 35px;
  padding-left: 35px;
  display: flex;
  align-items: center;
  border-radius: 40px;
}
.btn-transparent i {
  margin-left: 12px;
}
.btn-transparent:hover {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
  color: #191919;
  font-weight: 500;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  padding-right: 35px;
  padding-left: 35px;
  border-radius: 40px;
  display: flex;
  align-items: center;
}
.btn-black i {
  margin-left: 12px;
}
.btn-black:hover {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
  color: #191919;
  font-weight: 500;
}

header {
  background-color: #F0EFE9;
  padding: 30px;
  align-items: center;
}
header .container {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  header .container {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
header .container .logo {
  margin-right: 70px;
}
header .container .content-top {
  display: none;
  padding-bottom: 12px;
  border-bottom: 1px solid #DAD9D3;
}
@media (min-width: 768px) {
  header .container .content-top {
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  header .container .content-top {
    justify-content: space-between;
  }
}
header .container .content-top .contacts {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
  align-items: center;
  gap: 30px;
  display: none;
}
@media (min-width: 1200px) {
  header .container .content-top .contacts {
    display: flex;
  }
}
header .container .content-top .contacts .contact-box-last {
  border-left: 1px solid #DAD9D3;
  padding-left: 16px;
  padding-right: 27px;
}
header .container .content-top .contacts i {
  margin-right: 7px;
  font-size: 1.2em;
}
header .container .content-top .socialmedia a {
  color: #191919;
  margin-left: 12px;
}
header .container .content-top .socialmedia a:hover {
  color: #9b9b9b;
}
header .container .content-bottom {
  display: none;
}
@media (min-width: 768px) {
  header .container .content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}
header .container .content-bottom .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
header .container .content-bottom .menu a {
  color: #191919;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  margin-right: 28px;
}
header .container .content-bottom .menu a:hover {
  text-decoration: underline;
}
header .container .content-bottom .login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -8px;
}
header .container .content-bottom .login a {
  text-decoration: none;
}
header .container .bar {
  justify-content: flex-end;
  border: none;
  font-size: 26px;
  background-color: transparent;
  display: flex;
}
header .container .bar a {
  color: #191919;
}
@media (min-width: 768px) {
  header .container .bar {
    display: none;
  }
}

main .showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
main .showcase .background-waves {
  display: none;
}
@media (min-width: 992px) {
  main .showcase .background-waves {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
main .showcase .container {
  display: flex;
  text-align: left;
  align-items: center;
}
main .showcase .container .content {
  display: block;
  padding-bottom: 100px;
}
main .showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  main .showcase .container .content h1 {
    font-weight: 700;
    font-size: 80px;
  }
}
@media (min-width: 1400px) {
  main .showcase .container .content h1 {
    font-weight: 700;
    font-size: 96px;
  }
}
main .showcase .container .content p {
  font-size: 20px;
  font-weight: 400;
  color: #595957;
  padding-bottom: 46px;
  padding-top: 10px;
}
main .showcase .container .content a {
  text-decoration: none;
}
main .showcase .container .content .btn-yellow {
  margin-right: 0px;
  text-align: center;
}
@media (min-width: 426px) {
  main .showcase .container .content .btn-yellow {
    margin-right: 12px;
    text-align: left;
  }
}
main .showcase .container .content .btn-transparent {
  text-align: center;
}
@media (min-width: 426px) {
  main .showcase .container .content .btn-transparent {
    text-align: left;
  }
}
main .showcase .container .content .buttons {
  display: flex;
  flex-direction: column;
}
@media (min-width: 426px) {
  main .showcase .container .content .buttons {
    display: flex;
    flex-direction: row;
  }
}
main .showcase .container img {
  display: none;
}
@media (min-width: 1200px) {
  main .showcase .container img {
    display: flex;
    margin-right: -53px;
  }
}
main .customers {
  margin-top: 98px;
  margin-bottom: 110px;
}
main .customers .container {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
@media (min-width: 1400px) {
  main .customers .container {
    padding-right: 48px;
    padding-left: 48px;
  }
}
main .customers .container img {
  width: 60px;
}
@media (min-width: 768px) {
  main .customers .container img {
    width: 100px;
  }
}
@media (min-width: 992px) {
  main .customers .container img {
    width: auto;
  }
}
main .project-and-case {
  margin-top: 124px;
}
main .project-and-case .container {
  padding: 0;
}
main .project-and-case .container .project-titles {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}
@media (min-width: 768px) {
  main .project-and-case .container .project-titles {
    margin-bottom: 98px;
  }
}
main .project-and-case .container .project-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px;
  margin-bottom: 80px;
}
@media (min-width: 576px) {
  main .project-and-case .container .project-grid {
    grid-template-columns: 1fr 1fr;
  }
}
main .project-and-case .container .project-box .image-box {
  display: flex;
  justify-content: center;
}
@media (min-width: 576px) {
  main .project-and-case .container .project-box .image-box {
    display: block;
  }
}
main .project-and-case .container .project-box img {
  width: 90vw;
}
@media (min-width: 576px) {
  main .project-and-case .container .project-box img {
    width: 40vw;
  }
}
@media (min-width: 1400px) {
  main .project-and-case .container .project-box img {
    width: auto;
  }
}
main .project-and-case .container .project-box h3 {
  margin-left: 40px;
  margin-top: 35px;
  padding-bottom: 17px;
  border-bottom: 1px solid #E7E7E7;
}
@media (min-width: 576px) {
  main .project-and-case .container .project-box h3 {
    display: block;
    margin-left: 0px;
  }
}
main .project-and-case .container .project-box a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 32px;
}
main .project-and-case .container .project-box i {
  margin-left: 7px;
}
main .project-and-case .container .project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}
main .project-and-case .container .project-btn .btn-black {
  text-decoration: none;
}